<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>REMOVE CINEMA</h3>
<p>
    <a th:href="@{/cinema}">
        Back to  home
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/cinema/delete}" th:object="${cinema}"
          method="GET" novalidate="novalidate">
        <input type="hidden" th:field="*{cinemaId}"/>
        <div>
            <label>Cinema name</label>
            <input type="text" th:field="*{cinemaName}"/>
        </div>
        <div>
            <label>Cinema Code</label>
            <input type="text" th:field="*{cinemaCode}"/>
        </div>
        <div>
            <label>Amounts</label>
            <input type="text" th:field="*{cinemaAmounts}"/>
        </div>
        <input  type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>