<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>
<form class="d-flex" th:action = "@{/product/search}" method = "post">
    <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search" style="width: 400px;" >
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table id="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${products}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.producer}"></td>
        <td><a th:href="@{/product/edit/__${row.id}__}">edit</a></td>
        <td><a th:href="@{/product/delete/__${row.id}__}">delete</a></td>
        <td><a th:href="@{/product/view/__${row.id}__}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>