<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<a href="/shop">Trở về trang chủ</a>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{${shops.image}}" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-tittle" th:text="${shops.name}"></h5>
                    <p class="card-text" th:text="${shops.description}"></p>
                    <strong>
                        <p class="card-text" th:text="${shops.oldPrice}"></p>
                    </strong>
                    <strong>
                    <p class="card-text" th:text="${shops.newPrice}"></p>
                    </strong>
                    <p class="card-text">
                        <small class="text-muted">Cập nhật 3 phút trước</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>