<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/home::head}">
    <meta charset="UTF-8">
    <title>Danh sách hợp đồng</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
<div th:replace="~{/home::header}"></div>

<div class="p-3">
    <h2 class="text-center fw-bold text-light my-3">Contract List</h2>

    <!--    <p class="text-center mt-3">-->
    <!--        <a th:href="@{/}"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Quay lại trang chủ</a>-->
    <!--    </p>-->

    <div th:if="${mess}">
        <div class="justify-content-center d-flex">
            <div class="alert alert-success alert-dismissible fade show w-50 text-center">
                <strong th:text="${mess}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg py-0 my-2">
        <div class="container-fluid">
            <button class="btn btn-primary btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#addContract">
                <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
                <span class="text-light"> Add new contract</span>
            </button>
        </div>
    </nav>

    <table class="table table-light table-striped table-bordered">
        <tr class="table-dark text-light">
            <th class="text-center"><i class="fa-solid fa-dog"></i></th>
            <th>Facility Name</th>
            <th>Employee Name</th>
            <th>Customer Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Deposit</th>
            <th>Total</th>
            <th class="text-center">Các dịch vụ đi kèm</th>
        </tr>

<!--        <tr th:each="contract, status : ${contractList}">-->
<!--            <td class="text-center" th:text="${status.count}"></td>-->
<!--            <td th:text="${contract.facilityName}"></td>-->
<!--            <td th:text="${contract.employeeName}"></td>-->
<!--            <td th:text="${contract.customerName}"></td>-->
<!--            <td th:text="${contract.startDate}"></td>-->
<!--            <td th:text="${contract.endDate}"></td>-->
<!--            <td th:text="${'₫ ' + contract.deposit}"></td>-->
<!--            <td th:text="${'₫ ' + contract.totalMoney}"></td>-->
            <td class="text-center">
                <button th:attr="onclick=|addContractdetail('${contract.contractId}')|"
                        class="btn btn-primary btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addContractdetail">
                    <span class="fa-solid fa-plus text-light h6 m-auto"></span>
                </button>

                <button th:attr="onclick=|showAttachFacility('${contract.contractId}')|"
                        class="btn btn-primary btn-outline-secondary btn-sm ms-3 px-3" data-bs-toggle="modal"
                        data-bs-target="#showAttachFacility">
                    <span class="text-light m-auto">Danh sách dịch vụ đi kèm</span>
                </button>
            </td>
        </tr>
    </table>
</div>

<footer th:replace="~{/home::footer}"></footer>

<div class="modal fade" id="addContract" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="border border-2 border-success p-3 rounded formCSS" th:action="@{/contract/add}"
                  th:object="${contract}" method="POST">
                <div class="modal-header">
                    <h3 class="modal-title fw-bold text-primary" id="exampleModalLabel3">THÊM MỚI HỢP ĐỒNG</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="h6" for="facility">Tên dịch vụ:</label>
                            <div class="input-group">
                                <select id="facility" class="form-control" th:field="*{facility.facilityId}">
                                    <option th:each="item : ${facilityList}" th:value="${item.facilityId}"
                                            th:text="${item.facilityName}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="employee">Tên nhân viên:</label>
                            <div class="input-group">
                                <select id="employee" class="form-control" th:field="*{employee.employeeId}">
                                    <option th:each="item : ${employeeList}" th:value="${item.employeeId}"
                                            th:text="${item.employeeName}" th:if="${item.divisions.divisionId != 3}">
                                    </option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h6" for="customer">Tên khách hàng:</label>
                            <div class="input-group">
                                <select id="customer" class="form-control" th:field="*{customer.customerId}">
                                    <option th:each="item : ${customerList}" th:value="${item.customerId}"
                                            th:text="${item.customerName}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="startDate" class="h6">Ngày bắt đầu:</label>
                            <input type="date" id="startDate" class="form-control" th:field="*{startDate}"
                                   th:min="${minAge}" onchange="changeEndDate(this)" required
                                   pattern="^(19|20)\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[0-1])$"
                                   title="Vui lòng chọn ngày bắt đầu."/>
                        </div>

                        <div class="mt-3 form-group" id="endDateForm" style="display: none">
                            <label for="endDate" class="h6">Ngày kết thúc:</label>
                            <input type="date" id="endDate" class="form-control" th:field="*{endDate}" required
                                   pattern="^(19|20)\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[0-1])$"
                                   title="Vui lòng chọn ngày kết thúc."/>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="deposit" class="h6">Tiền đặt cọc (VNĐ):</label>
                            <div class="input-group">
                                <input type="number" id="deposit" class="form-control"
                                       placeholder="Nhập tiền đặt cọc..." th:field="*{deposit}" required
                                <span class="input-group-text"><i class="fa-solid fa-money-bill-wave"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" value="delete">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addContractdetail" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="border border-2 border-success p-3 rounded formCSS"
                  th:action="@{/contract/add-contract-detail}"
                  th:object="${contractDetail}" method="POST">
                <div class="modal-header">
                    <h3 class="modal-title fw-bold text-primary" id="exampleModalLabel4">THÊM DỊCH VỤ ĐI KÈM</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="contractId" id="contractId" th:field="*{contract.contractId}" readonly/>

                        <div class="form-group">
                            <label class="h6" for="attachFacility">Tên dịch vụ đi kèm:</label>
                            <div class="input-group">
                                <select id="attachFacility" class="form-control"
                                        th:field="*{attachFacility.attachFacilityId}">
                                    <option th:each="item : ${attachFacilityList}" th:value="${item.attachFacilityId}"
                                            th:text="${item.attachFacilityName + ' (₫ ' + item.attachFacilityCost + ')'}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="quantity" class="h6">Số lượng:</label>
                            <div class="input-group">
                                <input type="text" id="quantity" class="form-control"
                                       placeholder="Nhập số lượng..." th:field="*{quantity}" required
                                       pattern="^[1-9]\d*$"
                                       title="Số lượng phải là số nguyên dương."/>
                                <span class="input-group-text">#</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" value="delete">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="showAttachFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCSS">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="exampleModalLabel2">Danh sách dịch vụ đi kèm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function changeEndDate(startDate) {
        document.getElementById("endDate").min = startDate.value;
        document.getElementById("endDateForm").style.display = "block";
    }

    function addContractdetail(id) {
        document.getElementById("contractId").value = id;
    }

    function showAttachFacility(id) {
        document.getElementById("contractId2").value = id;
    }
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>
</html>