<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/layout :: head"></head>-->
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/templates/customer}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/customer/save}" th:object="${customerDto}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Customer Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Date Of Birth</label>
            <input type="text" th:field="*{dateOfBirth}"/>
        </div>
        <div>
            <label>Gender</label>
            <input type="text" th:field="*{gender}"/>
        </div>
        <div>
            <label>Id Card</label>
            <input type="text" th:field="*{idCard}"/>
        </div>
        <div>
            <div>
                <label>Phone Number</label>
                <input type="text" th:field="*{phoneNumber}"/>
            </div>
        </div>
        <div>
            <div>
                <label>Email</label>
                <input type="text" th:field="*{email}"/>
            </div>
        </div>
        <div>
            <div>
                <label>Address</label>
                <input type="text" th:field="*{address}"/>
            </div>
        </div>
        <div>

            <label>Customer Type Id</label>
            <select th:field="*{customerType}">
                <option th:each=" item: ${customerTypeList}" th:text="${item.name}"
                        th:value="${item.id}">
                </option>
            </select>
        </div>
        <input type="submit" value="save"/>

    </form>
</div>
<!--<footer th:replace="/layout :: footer"></footer>-->
</body>
</html>